---
layout: introduction
title : EIC | East India Comedy - Stand up comedy, Branding and Digital Content
---
<div id="homepage" class="container-fluid fixed-top navbar-main-index navbar-main-index1 pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <a href="/" title="Home">  <img src="assets/img/eic_logo_1.png" class="logo_img" > </a>
       
      </div>
      <div class="col-sm-8 mobile-hidden">
        {% include navigation.html %}
      </div>
      <div class="col-sm-2 text-right">
        <div class="social-links-container">
          {% include social_links.html %}
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container main-home">
 	<div class="text-center mt-6" id="masthead" data-0="transform: translateY(0px);" data-700="transform: translateY(200px);">
		<div class="title pt-2">

			<span class="block">Presenting, India’s Premier Comedy Collective…</span>
			<h1>EAST INDIA COMEDY</h1>

		</div>
 	</div>
</div>

<div class="container-fluid text-center">
  <div class="main-img tempimg" data-image-full="assets/img/eic_home.png" data-0="transform: translateY(0px);" data-700="transform: translateY(-100px);">
    <img src='assets/img/temp_img/eic_home_temp.png' width="100%" />
  </div>
</div>

<div class="container-fluid homepage-image-container">

  <div class="container" data-0="transform: translateY(0px);" data-700="transform: translateY(110px);">
    <div class="row">
      <div class="col-md-12">
        <div id="profile-links-wrap">
          <div class="profile-links azeem-link">
            <a href="/profiles/AzeemBanatwalla/">Azeem Banatwalla &#10095;</a>
            <div class="quotes-box azeem-text">&ldquo;Effortlessly likeable&rdquo;
              <div class="text-right">
                <small>- The Hindu</small>
              </div>
            </div>
          </div>
          <div class="profile-links sapan-link">
            <a href="/profiles/SapanVerma/">Sapan Verma &#10095;</a>
            <div class="quotes-box sapan-text">&ldquo;The hot favourite of the audience&rdquo;
        			<div class="text-right">
        				<small>- The Indian Express</small>
        			</div>
        		</div>
          </div>

          <div class="profile-links angad-link">
      			<a href="/profiles/AngadSinghRanyal/">Angad Singh Ranyal &#10095;</a>
            <div class="quotes-box angad-text">&ldquo;Seriously Funny&rdquo;
              <div class="text-right">
                <small>- Delhi Times</small>
              </div>
            </div>
      		</div>

          <div class="profile-links kunal-link">
      			<a href="/profiles/KunalRao/">Kunal Rao &#10095;</a>
            <div class="quotes-box kunal-text">&ldquo;Effortlessly funny&rdquo;
              <div class="text-right">
                <small>- Mumbai Mirror</small>
              </div>
            </div>
      		</div>

          <div class="profile-links sahil-link">
      			<a href="/profiles/SahilShah/">Sahil Shah &#10095;</a>
            <div class="quotes-box sahil-text">&ldquo;A perennial rib tickle&rdquo;
              <div class="text-right">
                <small>- Indian Express</small>
              </div>
            </div>
      		</div>

        </div>
      </div>
    </div>
  </div>

</div>
<div class="container-fluid mobile-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
          {% include navigation.html %} 
      </div>  
    </div>
  </div>
</div>

 <!-- Modal -->
