<div class="container social-box">
	<div class="row mt-4">
		<div class="col-sm-12 text-right">
			<a target="_blank" href="https://www.facebook.com/EastIndiaComedy"><img src="/assets/img/png/facebook.png" class="social-icons-size"></a>
			<a target="_blank" href="https://twitter.com/EastIndiaComedy"><img src="/assets/img/png/twitter.png" class="social-icons-size"></a>
			<a target="_blank" href="https://www.youtube.com/user/EastIndiaComedy"><img src="/assets/img/png/youtube.png" class="social-icons-size"></a>
			<a target="_blank" href="https://instagram.com/eastindiacomedy"><img src="/assets/img/png/Instagram.png" class="social-icons-size"></a>
		</div>
	</div>
</div>
